.*cache
secret.env
cache

# platform-specific trash
.DS_Store

# coverage
.coverage
coverage.xml

# Python stuff
__pycache__
*.pyc
.venv

# Data
feeds

# built in Makefile
build
dist
media/icon.icns
docs/_build
